*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

.container{
  width: 100%;
}

.app {
  width: 960px;
  max-width: 1200px;
  height: 88vh;
  margin: 0 auto;
}

.home-subheader{
  height: 100px;
  font-size: 46px;
}

/*-----------------------------------BOOK PAGE BOOK PREVIEW--------------------------------------------------*/
.book-prev-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color:bisque;
  margin: 20px 0;
}
.book-prev-container:hover .book-cover img{
  scale: 105%;
  transition: 0.1s ease-in-out;
}

.book-title{
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 30px;
}

.book-preview{
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 20px 20px;
}

.book-cover{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items:flex-start;
  margin: 2px 2px;
}

.book-cover img{
  width: 100%;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 1);
}
.book-cover img:hover{
  transition: 0.1s ease-in-out;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 1);
}

.book-info{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2px 2px;
  padding: 0 0 0 20px;
  font-size: 18px;
}

.content-warning{
  font-size: 12px;
  margin: 10px 0 0 0;
}   

/*-----------------------------------SOCIAL MEDIA--------------------------------------------------*/

.social{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

/* Style all font awesome icons */
 .social-icons {
  /* margin-bottom: 20px; */
  /* padding: 20px; */
  font-size: 56px;
  width: 42px;
  text-align: center;
  text-decoration: none;
}

  /* Add a hover effect if you want */
  .social-icons:hover {
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 1);
    opacity: .9;
    color:black;
  }
  
  /* Twitter */
  .twitter {
    background: #55ACEE;
    color: white;
  } 

  .instagram{
    background: #fb3958;
    color:white;
  }

  .envelope{
    background: #35465c;
    color:white;
  }


  .social-icons.wattpad{
    background: #ff4500;
    align-items: center;
    text-align: center;
    text-decoration:none; 
  }
  .wattpad:hover{
    background: #00BAFF;
    opacity: .7;
    filter:invert(100%);
    box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  }

/*-----------------------------------------NAVBAR-------------------------------------------*/
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 30px;
  background-color: #fb3958;
}

ul{
  list-style: none;
}

.navbar-options{
  display: flex;
  flex-direction: row;
}

.social nav{
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  height: 10px;
}
.social-icons nav{
  font-size: 56px;
  width: 42px;
  text-align: center;
  text-decoration: none;
}

.socbar {
  margin-left:auto;
  float: right;
  background: transparent;
  color:black;
  height: 75%;
  position: relative;
} 
  /* .fa-twitter.socbar {
    margin-left:auto;
    float: right;
    background: transparent;
    color:white;
    height: fit-content;
  } 
  .fa-instagram.socbar{
    float: right;
    background: transparent;
    color:white;
    height: fit-content;
  }
  .fa-tumblr.socbar{
    float: right;
    background: transparent;
    color:white;
    height: fit-content;
  }
  .fa-envelope.socbar{
    float: right;
    background: transparent;
    color:white;
    height: fit-content;
  } */
  .social-icons.wattpad.socbar{
    float: right;
    background: transparent;
    color:black;
    height: 3.125rem;
    display: flex;
  }
  .social-icons.wattpad.socbar:hover{
    background: transparent;
    filter:invert(100%);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);  
  }