*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'AmaticSC';
  src: url('utils/fonts/AmaticSC-Regular.ttf');
}
@font-face {
  font-family: 'AmaticSCBold';
  src: url('utils/fonts/AmaticSC-Bold.ttf');
}


.container{
  width: 100%;
}

.app {
  width: 960px;
  max-width: 1200px;
  height: 88vh;
  margin: 0 auto;
}

/* @media (max-width: 1224px) {
  .container{
    max-width: 480px;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
  }
  .app{
    max-width: 480px;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
  }
} */

.home-header{
  height: 100px;
  margin-bottom: 20px;
  padding-bottom: 100px;
}

.home-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  font-size: 80px;
  font-family: 'AmaticSC';
}
.page-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
  font-size: 60px;
  font-family: 'AmaticSC';
}

hr{
  border: none;
  border-top: 1px solid #464646;
  margin-bottom: 10px;
}



/*-----------------------------------------NAVBAR-------------------------------------------*/
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: fit-content;
}

ul{
  list-style: none;
}



.header-navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
}

.header-nav-logo{
  margin: 0 10px;
}

.site-logo{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 300px;
}

.navbar-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
}

.link{
  margin: 0 20px;
  text-decoration: none;
  font-size: 28px;
  font-family: 'AmaticSC';
  font-weight: bold;
}
.link:hover{
  color: rgb(17, 71, 17);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}


.nav-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

/*-----------------------------------FOOTER--------------------------------------------------*/

.app-footer{
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-footer nav{
  margin-bottom:10px;
}

.app-footer hr{
  margin-bottom: 10px;
}

.footer-navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  max-width: 100%;
  margin: 0 auto;
}

.app-footer .link{
  margin: 0 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'AmaticSC';
  font-weight: bold;
}
.app-footer .link:hover{
  color: rgb(17, 71, 17);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.copyright{
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 0 auto;
}

/*-----------------------------------BOOK LIST PAGE--------------------------------------------------*/
.book-prev-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
}

.book-title{
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-size: 30px;
}

.book-preview{
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding: 20px 20px;
}


@media (max-width: 600px){
  .book-preview{
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.book-cover-med{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2px auto;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 1);
}
  .book-cover-med:hover{
    opacity: .7;
    scale: 105%;
    transition: 0.1s ease-in-out;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 1);
  }

.book-info{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 2px 2px;
  padding: 0 0 0 20px;
  font-size: 14px;
}

.content-warning{
  font-size: 12px;
  margin: 10px 0 0 0;
}   


/*-----------------------------------BOOK PAGE--------------------------------------------------*/
.book-page{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color:bisque;
  margin: 20px 0;
}

.book-cover-lrg{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2px 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

.chapter-preview{
  display:block;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
  /* max-height: 100px; Adjust this value to determine the height at which the text should be truncated */
  overflow: hidden;
  user-select: none;
}

.chapter-preview:target {
  max-height: none; /* Display the full text when the target is active */
}

.read-more{
  display: block;
  text-align: center;
}

.read-more::before {
  content: "▼"; /* Change this symbol to your preferred "read more" indicator */
}

.chapter-preview:target ~ .read-more::before {
  content: "▲"; /* Change this symbol to your preferred "read less" indicator */
}

/*-----------------------------------UPCOMING--------------------------------------------------*/

.upcoming-list .book-preview{
  justify-content: center;
  margin: 20px auto;
}


/*-----------------------------------ABOUT PAGE--------------------------------------------------*/

.about-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-text{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  margin: 10px 10px;
}

.about-social-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
} 

.about-social-icon{
  padding: 6px;
  margin: 0 15px;
}

.about-social-container .social-icons{
  border-radius: 22px;
  height: 100%;
  width: 40px;
  font-size: 28px;
  background-color: black;
  /* transform: scale(150%); */
}

.about-social-container .social-icons:hover{
  background-color: transparent;
}

/*-----------------------------------SOCIAL MEDIA--------------------------------------------------*/


/* Style all font awesome icons */
.social-icons {
  /* margin-bottom: 20px; */
  /* padding: 20px; */
  font-size: 28px;
  width: 26px;
  text-align: center;
  margin: 0 8px;
}

/* Add a hover effect if you want */
.social-icons:hover {
  opacity: .9;
  color:black;
}

/* Twitter */
.twitter {
  background: #55ACEE;
  color: white;
} 

.instagram{
  background: #fb3958;
  color:white;
}

.envelope{
  background: #35465c;
  color:white;
}

.wattpad{
  background: #ff4500;
  align-items: center;
  text-align: center;
  text-decoration:none; 
}
  .wattpad:hover{
    filter:invert(100%);
  }

  /* For social icons in nav-social */
.nav-social .social-icons{
  background: transparent;
  color:black;
  height: 75%;
  position: relative;
} 
.nav-social .twitter:hover{
  color:#00BAFF;
}
.nav-social .instagram:hover{
  color:#fb3958;
}
.nav-social .envelope:hover{
  color:#00c120;
}
.nav-social .wattpad:hover{
  filter: invert(50%);
  background: transparent;
}

/*-----------------------------------CAROUSEL--------------------------------------------------*/

/* .carousel{
  align-items: center;
} */

.home-carousel-container{
  margin-top:100px;
  margin-bottom:100px
}

.carousel-container{
  display: flex;
  position:absolute;
  justify-content: center;
}



